nav{
    background-color: skyblue;
    height: 40px;
    margin-top: 10px;
}
nav img{
    width: 100px;
    height: 40px;
}
nav ul{
    float: right;
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    padding: 5px;
}
nav ul li a{
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}