<nav>
    <img src="https://cmed.com.bd/wp-content/uploads/2020/04/cmed-logo-v2-1.png" alt="">
    <ul>
        <li><a href="#">Home</a></li>
        <li><a routerLink="basic-form">About</a></li>
        <li><a href="#">Login</a></li>
        <li><a href="#">Users</a></li>
        <li><a routerLink="routing">Routing</a></li>
    </ul>
</nav>