<ul *ngFor="let item of users">
    <li>Name: {{ item.name }}</li>
    <li>Contact:
        <ul *ngFor="let contact of item.phone">
            <li>GrameenPhone: {{ contact.gp }}</li>
            <li>Banglalink: {{ contact.bl }}</li>
            <li>Robi: {{ contact.robi }}</li>
        </ul>
    </li>
    <li>Location: {{ item.location }}</li>
</ul>