<div class="container table-responsive mt-5">
    <table class="table table-hover table-bordered">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Contact</th>
                <th scope="col">Location</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>

            <tr *ngFor="let item of users;let i = index">
                <th scope="row">{{ i+1 }}</th>
                <td>{{ item.name }}</td>
                <td>
                    <ul *ngFor="let phoneItem of item.phone">
                        <li>{{ phoneItem.gp }}</li>
                        <li>{{ phoneItem.bl }}</li>
                        <li>{{ phoneItem.robi }}</li>
                    </ul>
                </td>
                <td>{{ item.location }}</td>
                <td>
                    <!-- <a class="btn btn-info" routerLink="users/{{ i }}">Update</a> -->
                    <a class="btn btn-danger" style="margin-left: 5px;" (click)="delete( i)">Delete</a>
                </td>
            </tr>

        </tbody>
    </table>
</div>

<div class="container" style="border: 1px solid gray;">
    <h4>API Fetched data: </h4>
    <h6>Link: </h6> {{ link}}
    <h6>Data: </h6> {{ fetchedData | json }}
</div>