<h6>Parent to Child Data:{{ item }}</h6>
<form #basicForm="ngForm" (submit)="getFormData(basicForm.value)">
    <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control" ngModel name="email" #email="ngModel" id="exampleInputEmail1"
            aria-describedby="emailHelp" placeholder="Enter email" required>
        <span class="text-danger" *ngIf="email.invalid && email.touched"><strong> E-mail is required</strong></span>
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" required ngModel #password="ngModel" name="password"
            id="exampleInputPassword1" placeholder="Password">
        <span class="text-danger" *ngIf="password.invalid && password.touched"><strong> Password is
                required</strong></span>
    </div>
    <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div>
    <button type="submit" [disabled]="basicForm.invalid" class="btn btn-primary"
        (click)="dataPassingEvent.emit(email.value)">Submit</button>
</form>
<h6>Two way binding</h6>
<input type="text" [(ngModel)]="bindingData">
{{ bindingData }}