<form class="form-control mt-2" [formGroup]="loginForm" (ngSubmit)="loginUser()">

    <input type="text" placeholder="Enter name" formControlName="username">
    <small *ngIf="username && username.invalid && username.touched" style="color: red;"><strong>This field is
            required</strong></small>
    <br><br>

    <input type="text" placeholder="Enter password" formControlName="password">
    <small *ngIf="password && password.invalid && password.touched" style="color: red;"><strong>This field is required
        </strong></small>
    <br><br>
    <button [disabled]="loginForm.invalid">Log in</button>
</form>