<router-outlet></router-outlet>
<app-header></app-header>

<div class="container mt-2">
  <div class="card-deck">
    <div class="card mb-4">
      <div class="card-header">Event Tutorials</div>
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <app-event [item]="title"></app-event>
      </div>
    </div>
  </div>

  <div class="card-deck">
    <div class="card mb-4">
      <div class="card-header">Binding Tutorials</div>
      <div class="card-body">
        <app-property-binding></app-property-binding>
      </div>
    </div>
  </div>

  <div class="card-deck">
    <div class="card mb-4">
      <div class="card-header">Loop Tutorials</div>
      <div class="card-body">
        <app-loop></app-loop>
      </div>
    </div>
  </div>
  <h5>Child to Parent data: {{ data }}</h5>
  <div class="card-deck">
    <div class="card mb-4">
      <div class="card-header">Basic Form</div>
      <div class="card-body">
        <app-basic-form [item]="'parent data'" (dataPassingEvent)="parentData($event)"></app-basic-form>
      </div>
    </div>
  </div>

  <div class="card-deck">
    <div class="card mb-4">
      <div class="card-header">Pipe Tutorials</div>
      <div class="card-body">
        <app-pipe></app-pipe>
      </div>
    </div>
  </div>

</div>