<button class="btn btn-info" (click)="count()">Click Me</button>
Count:{{ i }}
<input type="text" placeholder="Key up" (keyup)="getData('Key Up is working')">

<input type="text" style="margin-top: 10px;" placeholder="Key Down" (keydown)="getData('Key down is working')">
<h4 (mouseover)="getData('Mouse over is working')"> Mouse Over </h4>

<input type="text" #box placeholder="Get value">
<input type="button" class="btn btn-sm btn-success" value="submit" (click)="getData(box.value)">
<h5>Value is: {{ getValue }}</h5>
<h6>Parent data: {{ item }}</h6>