<div [style.backgroundColor]="bgcolor">
    <h6>Choose the button-color:</h6>
    <input type="button" class="btn btn-success" (click)="valueFunction('success')" value="   ">
    <input type="button" class="btn btn-primary" style="margin-left: 2px;" (click)="valueFunction('primary')"
        value="   ">
    <input type="button" class="btn btn-danger" style="margin-left: 2px;" (click)="valueFunction('danger')" value="   ">

    <input type="button" [class]=class style="margin-left: 200px;" value="   ">
    <br>
    <input type="button" value="Change background" (click)="changeBackground()">
</div>