<h3>{{ title }}</h3>
<h3>{{ title | uppercase }}</h3>
<h3>{{ title | lowercase}}</h3>

<h3>Amount: {{ amount| currency:'BDT' }}</h3>
<h4>Interest: {{ 2| percent:'2.2-5' }}</h4>

<h5>Custom Pipe: {{ 30 | custom:30}}</h5>